.tutorial-header-content {
  padding: 40px;
}

.info-tutorial-card {
  width: 300px; position: absolute; right: 30px;
}

.info-tutorial-card-container {
  .button-row {
    img {height: 20px;}
    button {margin-right: 10px;}
  }

}

.lista-pasos {
  padding: 0;
  list-style: none;

  li {
    padding: 8px 0; text-align: left;
    font-weight: 900; font-size: 1.2rem;

    a {text-decoration: none;color: #d32f2f;}
  }

}

// relacion
.relation-container {
  a {margin-right: 10px;}
}

// Contenido

.tutorial-detail-content {
  line-height: 1.7;

  h2 {margin: 10px 0;}
  ul {padding: 0;list-style: none;}

}

// xs
@media (max-width: 599px) {
}

// sm
@media (min-width: 600px) and (max-width: 959px) {
}

// md
@media (min-width: 960px) and (max-width: 1279px) {
}

@media (min-width: 1280px) and (max-width: 1919px) {
}

@media (min-width: 1920px) and (max-width: 5000px) {
}
