<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div fxFlex="15%" fxFlex.md="5%" fxHide.sm fxHide.xs></div>
    <div class="nav-container" fxFlex="70%" fxFlex.md="90%" fxFlex.sm="100%">
      <div style="flex: 1;">
        <!--<span>-->
          <!--JancoBH-->
        <!--</span>-->
        <a mat-button routerLink="">Inicio</a>
        <!--<a mat-button routerLink="portfolio">Portafolios</a>-->
        <a mat-button routerLink="tutorial">Tutoriales</a>
        <a mat-button routerLink="/tutorial">Tutoriales 2</a>
        <a mat-button routerLink="">Tags</a>
        <a mat-button routerLink="blog" fxHide.xs>Blog</a>
        <a mat-button routerLink="comunidad" fxHide.xs>Comunidad</a>
        <a mat-button routerLink="contact" fxHide.xs>Contacto</a>
        <a mat-button routerLink="about" fxHide.xs>About</a>
      </div>
      <!--<a mat-button routerLink="foro">Foro</a>-->
      <div class="float-right">
        <a href="https://twitter.com/JancoBH" target="_blank" rel="noopener noreferrer"><img src="assets/img/twitter.svg" class="social-img" alt="Twitter"></a>
      </div>
    </div>
    <div fxFlex="15%" fxFlex.md="5%" fxHide.sm fxHide.xs></div>
  </mat-toolbar-row>
</mat-toolbar>
