::ng-deep mat-sidenav {
  width: 100%;
}

.nav-container {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.social-img {
  width: 1.8rem;
  box-shadow: 0 3px 5px rgba(0,0,0,.25);
  vertical-align: middle;
  margin: 0 5px;
}
