<section class="main-content section-content">
  <main>
    <div class="contenedor-img">
      <img [src]="'assets/code-review-red.svg'" alt="">
    </div>
    <div class="contenedor-texto">
      <h1>Hola, Mi nombre es Janco Boscan</h1>
      <h2 class="titulo">Hello <span class="corchete"> {{'{'}} </span> <span class="typed"></span> <span class="corchete"> {{'}'}} </span></h2>

      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate architecto officia nulla laudantium minus rerum accusamus?</p>

      <a routerLink="." mat-raised-button color="primary">Contactame</a>
      <a mat-stroked-button color="primary" routerLink="." style="margin: 0 10px;">Tutoriales</a>
      <a mat-stroked-button color="primary" routerLink="." (click)="scrollToElement(tabScrollBlogs)">Blogs</a>
    </div>
  </main>
</section>

<section class="tutorial section-content">

  <h1>Últimos Tutoriales</h1>

  <div fxLayout="row wrap" style="justify-content: center; align-items: center;">

    <div fxFlex="10" fxFlex.sm="5" fxFlex.xs="5"></div>

    <div fxFlex="80" fxFlex.sm="90" fxFlex.xs="90">

      <div fxLayout="row wrap" style="justify-content: center;">

        <div fxFlex="20" fxFlex.lg="25" fxFlex.md="33.33" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let tuto of tutorials">
          <a [routerLink]="['/tutorial/' + tuto.url]" style="text-decoration: none" [attr.aria-label]="'Tutorial ' + tuto.title">
            <mat-card style="margin: 10px 10px;">
              <img mat-card-image [src]="tuto.img" [alt]="tuto.title">
              <h3 style="margin-top: 0;">{{tuto.title}}</h3>
              <!--<mat-card-content class="tutorial-content">-->
                <!--<p>{{tuto.desc}}</p>-->
              <!--</mat-card-content>-->
            </mat-card>
          </a>
        </div>

      </div>

    </div>

    <div fxFlex="10" fxFlex.sm="5" fxFlex.xs="5"></div>

  </div>

</section>

<section class="whois section-content">

  <div fxLayout="row wrap">
    <div fxFlex="50" fxFlex.xs="100">
      <h1>¿Quien soy?</h1>
      <p>Hola, Mi nombre es Janco Boscan, Soy Ingeniero de Computación y trabajo como Front-end Developer.</p>
      <p>Soy una persona autodidacta con mucho interés en las tecnologías web, mi mayor experiencia se centra con Angular pero también uso y me gustran otras tecnologías.</p>
    </div>

    <div fxFlex="50" fxFlex.xs="100">
      <h1>¿Por qué esta web?</h1>
      <p>El proposito de esta web es compartir mis conocimientos sobre Javascript y otras tecnologías a la comunidad de desarrolladores.</p>
      <p>Esta web lleva mi nombre pero espero que les sirva también a todas aquellas personas que necesiten tener algún conocimiento extra sobre las tecnologías que aquí se hablan.</p>
    </div>
  </div>

</section>

<div #tabScrollBlogs></div>
<section class="blog section-content">

  <h1>Últimas entradas al Blog</h1>

  <div fxLayout="row wrap" style="justify-content: center; align-items: center; margin-bottom: 25px">

    <div fxFlex="10" fxHide.sm fxFlex.xs="5"></div>

    <div fxFlex="80" fxFlex.sm="80" fxFlex.xs="90">

      <div fxLayout="row wrap" style="justify-content: center;">

        <div fxFlex="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let b of blog">
          <mat-card style="margin: 10px 10px;">
            <img mat-card-image [src]="b.img" [alt]="b.title">
            <mat-card-content class="blog-content">
              <p>{{b.title}}</p>
            </mat-card-content>
          </mat-card>
        </div>

      </div>

    </div>

    <div fxFlex="10" fxHide.sm fxFlex.xs="5"></div>

  </div>

</section>

<section class="tecnologias section-content">

  <div fxLayout="row wrap" class="tecnologias-container">

    <h1 fxFlex="100">Algunas Tecnologías que aprenderás acá</h1>

    <div fxFlex="10" fxFlex.sm="5" fxFlex.xs="5"></div>

    <div fxFlex="80" fxFlex.sm="90" fxFlex.xs="90">

      <mat-card>
        <div fxLayout="row wrap">
          <div *ngFor="let tech of techList" fxFlex="12.5" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="50" style="display: flex; flex-direction: column; align-items: center">
            <img [src]="tech.img" [alt]="tech.title" style="height: 100px;">
            <p>{{tech.title}}</p>
          </div>
        </div>
      </mat-card>
    </div>

    <div fxFlex="10" fxFlex.sm="5" fxFlex.xs="5"></div>

  </div>

</section>

<!--<section class="contacto">-->
<!--  <div fxLayout="row wrap" class="contacto-container">-->

<!--    <h1 fxFlex="100">Contactame</h1>-->

<!--  </div>-->


<!--</section>-->
