<section class="main">
  <main>
    <div class="contenedor-img">
      <img [src]="'assets/html-css-js.svg'" alt="">
    </div>
    <div class="contenedor-texto">
      <h1>Hola, Mi nombre es Janco Boscan</h1>
      <h2 class="titulo">Hello <span class="content__corchete"> {{'{'}} </span> <span class="typed"></span> <span class="content__corchete"> {{'}'}} </span></h2>

      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate architecto officia nulla laudantium minus rerum accusamus?</p>

      <a href="#" mat-raised-button color="primary">Reserva ahora</a>
      <a mat-stroked-button color="primary" routerLink=".">Conocenos</a>
    </div>
  </main>

</section>

<section class="tutorial">

  <h1>Últimos Tutoriales</h1>

  <div fxLayout="row wrap" style="justify-content: center; align-items: center;">

    <div fxFlex="10" fxFlex.sm="5" fxFlex.xs="5"></div>

    <div fxFlex="80" fxFlex.sm="90" fxFlex.xs="90">

      <div fxLayout="row wrap" style="justify-content: center;">

        <div fxFlex="20" fxFlex.lg="25" fxFlex.md="33.33" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let tuto of tutorials">
          <a [routerLink]="['/tutorial/' + tuto.url]" style="text-decoration: none" [attr.aria-label]="'Tutorial ' + tuto.title">
            <mat-card style="margin: 10px 10px;">
              <img mat-card-image [src]="tuto.img" [alt]="tuto.title">
              <h3 style="margin-top: 0;">{{tuto.title}}</h3>
              <!--<mat-card-content class="tutorial-content">-->
                <!--<p>{{tuto.desc}}</p>-->
              <!--</mat-card-content>-->
            </mat-card>
          </a>
        </div>

      </div>

    </div>

    <div fxFlex="10" fxFlex.sm="5" fxFlex.xs="5"></div>

  </div>

</section>

<section class="whois">

  <div fxLayout="row wrap">

    <div fxFlex="50" fxFlex.xs="100" class="quien-soy">

      <h1>¿Quien soy?</h1>

      <p>
        Hola, mi nombre es Janco Boscan, Soy Ingeniero de Computación y me dedico a trabajar como Front-end Developer.
      </p>

      <p>
        Soy una persona autodidacta con mucho interes en las tecnologías web como lo son Javascript y sus frameworks más populares, en especial Angular
      </p>

    </div>

    <div fxFlex="50" fxFlex.xs="100"  class="por-que">

      <h1>¿Por qué esta web?</h1>

      <p>
        Esta web nace con el proposito de compartir mis conocimientos sobre Javascript y otras tecnologías a la comunidad de desarrolladores web
      </p>

      <p>
        Aunque la web lleve mi nombre y también me sirva como una especie de portafolios, el objetivo principal de esta web es poder ayudar a todas aquellas personas que
        tengan ciertos problemas o desconocimientos con algunos temas de Frameworks o Librerias Javascript.
      </p>

    </div>

  </div>

</section>

<section class="blog">

  <h1>Últimas entradas al Blog</h1>

  <div fxLayout="row wrap" style="justify-content: center; align-items: center; margin-bottom: 25px">

    <div fxFlex="10" fxHide.sm fxFlex.xs="5"></div>

    <div fxFlex="80" fxFlex.sm="80" fxFlex.xs="90">

      <div fxLayout="row wrap" style="justify-content: center;">

        <div fxFlex="25" fxFlex.lg="25" fxFlex.md="25" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let b of blog">
          <mat-card style="margin: 10px 10px;">
            <img mat-card-image [src]="b.img" [alt]="b.title">
            <mat-card-content class="blog-content">
              <p>{{b.title}}</p>
            </mat-card-content>
          </mat-card>
        </div>

      </div>

    </div>

    <div fxFlex="10" fxHide.sm fxFlex.xs="5"></div>

  </div>


</section>

<section class="what">

  <div fxLayout="row wrap" class="tecnologias-container">

    <h1 fxFlex="100">Algunas Tecnologías que aprenderás acá</h1>

    <div fxFlex="10" fxFlex.sm="5" fxFlex.xs="5"></div>

    <div fxFlex="80" fxFlex.sm="90" fxFlex.xs="90">

      <mat-card>
        <div fxLayout="row wrap">
          <div *ngFor="let tech of techList" fxFlex="12.5" fxFlex.md="25" fxFlex.sm="25" fxFlex.xs="50" style="display: flex; flex-direction: column; align-items: center">
            <img [src]="tech.img" [alt]="tech.title" style="height: 100px;">
            <p>{{tech.title}}</p>
          </div>
        </div>
      </mat-card>
    </div>

    <div fxFlex="10" fxFlex.sm="5" fxFlex.xs="5"></div>

  </div>

</section>
