<div class="tutorial">
  <h1 style="text-align: center; color: white; margin: 20px 0">Tutoriales</h1>

  <div fxLayout="row wrap" style="justify-content: center; align-items: center; margin-bottom: 25px">

    <div fxFlex="10" fxHide.sm fxFlex.xs="5"></div>

    <div fxFlex="80" fxFlex.sm="100" fxFlex.xs="90">

      <div fxLayout="row wrap" style="justify-content: center;">

        <div fxFlex="25" fxFlex.md="33.33" fxFlex.sm="50" fxFlex.xs="100" *ngFor="let tuto of tutorials">
          <a [routerLink]="['/tutorial/' + tuto._id]" [attr.aria-label]="'Tutorial ' + tuto.title" style="text-decoration: none">
            <mat-card style="margin: 10px 10px;">
              <img mat-card-image [src]="tuto.img" alt="{{tuto.title}}">
              <mat-card-content class="tutorial-content">
                <p>{{tuto.desc}}</p>
              </mat-card-content>
            </mat-card>
          </a>
        </div>

      </div>

    </div>

    <div fxFlex="10" fxHide.sm fxFlex.xs="5"></div>

  </div>

</div>
