/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-grey, 900);
$app-accent: mat-palette($mat-red, A700);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-grey, 50);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

html, body { height: 100%; background: #333333; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.float-right { float: right; }
.float-left { float: left; }
