/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();

$app-primary: mat-palette($mat-red, 700);
$app-accent: mat-palette($mat-red, A700);

// The warn palette is optional (defaults to red).
$app-warn: mat-palette($mat-grey, 50);

// Create the theme object (a Sass map containing all of the palettes).
$app-theme: mat-light-theme($app-primary, $app-accent, $app-warn);

@include angular-material-theme($app-theme);

html, body { height: 100%; background: #333333; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

.float-right { float: right; }
.float-left { float: left; }

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.social-img {
  width: 1.8rem;
  box-shadow: 0 3px 5px rgba(0,0,0,.25);
  vertical-align: middle;
  margin: 0 5px;
}


// Skeleton

$color-base: #ccc;
$color-highlight: lighten($color-base, 7%);

.skeleton {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 40px;
  background: linear-gradient(90deg, $color-base, $color-highlight, $color-base);

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, $color-base, $color-highlight, $color-base);
    animation: progress 1s ease-in-out infinite;
  }
}

@keyframes progress {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}

// Tags

.tags {

}

.firebase-tag { background-color: #ffcb2b !important; color: #12181a !important;}
.angular-tag { background-color: #d32f2f !important;}


// Loading Animation

.loading {
  text-align: center;
  padding: 20%;
}

.loading h2 {
  color: #ccc;
  margin: 0;
  font: .8em verdana;
  text-transform: uppercase;
  letter-spacing: .1em;
}

.loading span {
  display: inline-block;
  vertical-align: middle;
  width: .6em;
  height: .6em;
  margin: .19em;
  background: #007DB6;
  border-radius: .6em;
  animation: loading 1s infinite alternate;
}

/*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
.loading span:nth-of-type(2) {
  background: #008FB2;
  animation-delay: 0.2s;
}
.loading span:nth-of-type(3) {
  background: #009B9E;
  animation-delay: 0.4s;
}
.loading span:nth-of-type(4) {
  background: #00A77D;
  animation-delay: 0.6s;
}
.loading span:nth-of-type(5) {
  background: #00B247;
  animation-delay: 0.8s;
}
.loading span:nth-of-type(6) {
  background: #5AB027;
  animation-delay: 1.0s;
}
.loading span:nth-of-type(7) {
  background: #A0B61E;
  animation-delay: 1.2s;
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
